<?xml version="1.0"?>
  <model>
    <name>realsense_d435i</name>
    <version>1.0</version>
    <sdf version='1.4'>realsense_d435i.sdf</sdf>
    <author>
      <name>Stavros Sikkis / Chong You Lien</name>
      <email>ss8517@ic.ac.uk / cyl116@ic.ac.uk</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>
