<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find realsense_gazebo_plugin)/world/empty.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- Spawn a robot into Gazebo -->
  <node name="d435" pkg="gazebo_ros" type="spawn_model" args="-file $(find realsense_gazebo_plugin)/urdf/_d435.urdf -urdf -z 1 -model d435" />
</launch>
