<?xml version="1.0"?>
  <model>
    <name>realsense_d435</name>
    <version>1.0</version>
    <sdf version='1.4'>realsense_d435.sdf</sdf>
    <author>
      <name>Stavros Sikkis</name>
      <email>ss8517@ic.ac.ul</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>
