<?xml version="1.0"?>
<model>
  <name>gdp2020_drone</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>ADD05</name>
   <email></email>
   <name>ADD05</name>
   <email></email>
  </author>

  <description>
    final model of static version of drone for GDP 2020
  </description>
</model>
