<?xml version="1.0"?>
<model>
  <name>3DR Iris with depth camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_d435i.sdf</sdf>

  <author>
   <name>Stavros Sikkis / Chong You Lien</name>
   <email>ss8517@ic.ac.uk / cyl116@ic.ac.uk</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with the Intel Realsense D435i camera.
  </description>
</model>
